:root {
    --purple:#9912d9;
    --gray:#ebebeb;
    --white: #ffffff;
    --black: #000000;
    --blue:#0099db;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.nav-bar-menssage-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--black);
}
.nav-bar-menssage-top h3{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

@media screen {
    
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.logo-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;

}
.logo-container img {
    width: 350px;   
}

.nav-bar item {
    text-decoration: none;
    list-style: none;
}
::selection{
    color: #fff;
    background:var(--purple);
  }
  
.wrapper{
    display: flex;
    flex-grow: 3;
    max-width: 550px;
    margin: 10px ;
}
  
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
  
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: var(--purple);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: var(--blue);
    color: var(--white);
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: var(--purple);
    cursor: pointer;
  }

.shopping-car-container {
    display: flex;
    flex-grow: 2;
}

.container-slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    justify-content: center;
    width: 400%;
    height: 600px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background: var(--gray)     
}

.slider__btn:hover {
    background: var(--white);
}
.slider__btn--left {
    left: 10px;
}
.slider__btn--right {
    right: 10px;
}

.shopping-car-container{
    display: flex;
    padding: 20px;

}

.material-icons{
    color: var(--black);
    align-items: center;
}

.material-icons:hover{
    color:var(--purple);
    align-items: center;
}

.container-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
}

.categoria {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria:hover {
    color: var(--purple);
    filter:brightness(90%);
}
.categoria img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.categoria h2 {
    font-size: 20px;
    font-weight:800;
    padding-top: 5px;    
}

.container-info {
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:80px;
    gap: 20px;
}

.container-info-1 {
    display: flex;
    gap: 15px;
    width: 350px;
}

.container-info-2 {
    display: flex;
    gap: 15px;
    width: 480px;
}

.container-info-3 {
    display: flex;
    gap: 15px;
    width: 350px;
}

.info p {
    padding-top: 10px;
}
.info-1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.info-2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.info-3 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.icono img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.container-productos {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray);
    border-radius: 5px;
    gap: 5px;
}

.categoria-producto img {
    width: 380px;
    height: 380px;
    border-radius: 20px;

}

.categoria-producto img:hover {
    filter:brightness(90%);    
}

.categoria a{
    text-decoration: none;
    color: var(--black);
}
.categoria a{
    color: var(--purple);
    cursor: pointer;    
}

.producto img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.producto:hover {
    transition:all .3s;
    transform: scale(1.1);
}

.producto h2 {
    font-size: 20px;
    color: var(--black);

}
.producto .btn {
    font-size: 20px;
    background-color: var(--purple);
    border-radius: 8px;
    font-weight: 400;
    color: var(--white);
    border: 1px;
    width: 300px;
    height: 40px;
    outline: none;
}
.producto .btn:hover {
    background-color: var(--blue);
}

.nombre-categoria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-footer {
    display: flex;
    padding: 60px;
    align-items:flex-start;
    align-content: space-around; 
    background-color: var(--black);
    gap: 80px ;
    
}

.logo-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
}

.logo-container-footer img {
    width: 250px;
}

.nosotros {
    align-content: center;    
}

.nosotros p {
    color: var(--white);
}

.nosotros h2 {
    color: var(--white);
}

.nav-footer {
    margin-right: 180px;
}

.nav-footer h2 {
    color: var(--white);
}

.nav-footer li {
    color: var(--white);
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

.nav-footer li:hover {
    color: var(--purple);
}

.container-redes {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    flex-grow: 1;    
}

.iconos-redes {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container-redes h2 {
    color: var(--white);

}
.container-redes span {
    display: flex;
    color: var(--white);
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    width: 100%;
    height: 40px;
    align-items: center;
}

.copyright p {
    font-size: 14px;
    font-weight: 500;
}